[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = git@github.com:AshtreeCC/puppet-php.git
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = git@github.com:AshtreeCC/puppet-nginx.git
[submodule "puppet/modules/phalcon"]
	path = puppet/modules/phalcon
	url = git@github.com:AshtreeCC/puppet-phalcon.git
[submodule "puppet/modules/composer"]
	path = puppet/modules/composer
	url = git@github.com:AshtreeCC/puppet-composer.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@github.com:AshtreeCC/puppet-mysql.git
[submodule "puppet/modules/tools"]
	path = puppet/modules/tools
	url = git@github.com:AshtreeCC/puppet-tools.git
[submodule "puppet/modules/bootstrap"]
	path = puppet/modules/bootstrap
	url = git@github.com:AshtreeCC/puppet-bootstrap.git
[submodule "www/mapaproject.dev"]
	path = www/mapaproject.dev
	url = git@github.com:AshtreeCC/mapaproject.dev.git
[submodule "www/media.dev"]
	path = www/media.dev
	url = git@github.com:Akahadaka/media.dev.git
[submodule "www/jink.dev"]
	path = www/jink.dev
	url = git@github.com:Akahadaka/jink.dev.git
[submodule "www/admin.ponderingpanda.dev"]
	path = www/admin.ponderingpanda.dev
	url = git@github.com:ponderingpanda/admin.ponderingpadna.dev.git
